.MuiModal-root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .MuiBox-root {
    border-radius: 10px;
    border: none;
    .MuiPaper-root {
      padding: 25px;
      border-radius: 6px;
      .bind_modal {
        display: flex;
        align-items: center;
        img {
          height: 16px;
          padding-left: 8px;
        }
        .MuiTypography-h6 {
          font-family: "Poppins", sans-serif;

          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          line-height: 22px;

          color: #474848;
        }
      }
    }
    .bindmodal_selectHeader {
      margin-top: 30px;
      .MuiTypography-h5 {
        height: 21px;
        left: 390px;
        top: 322px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 50px;
        color: #474848;
        width: 556px;
      }
    }
    .bindmodal_select {
      width: 614px;
      // height: 315px;
      margin-top: 20px;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      .MuiFormControl-root {
        .MuiInputBase-root {
        }
      }
      .MuiOutlinedInput-root {
        background-color: #f6f6f6;
      }
      .MuiTypography-subtitle1 {
        width: 614px;

        left: 390px;
        top: 372px;

        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;

        color: #474848;
        margin-left: 6px;
      }
    }
    .modal_textarea {
      margin-top: 30px;

      .MuiTypography-subtitle1 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #474848;
      }
      .MuiTextField-root {
        width: 650px;
        background-color: #f6f6f6;
        .MuiInputBase-root {
          border: 1px solid #f4f4f4;
          border-radius: 3px;
          background-color: #f6f6f6;
        }
      }
    }
    .bindmodal_button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 24px;
      margin-bottom: 20px;

      .MuiButton-containedPrimary {
        background: #6fb757;
        border-radius: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-transform: none;
        padding: 2px 40px;
      }
      .MuiButton-text {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #6fb757;
      }
    }
  }
}
