.businessInfo_container {
  .businessInfo_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .MuiTypography-subtitle1 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #474848;
    }
    img {
      padding-left: 5px;
      height: 16px;
    }
  }

  .businessInfo_detailHeader {
    display: flex;
    align-items: center;
    margin-top: 40px;
    .MuiTypography-subtitle1 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #474848;
    }
    img {
      padding-left: 5px;
      height: 16px;
    }
  }
  .businessInfo_checkbox {
    margin-top: 20px;
    .MuiFormControlLabel-root {
      margin-right: 50px;
      .MuiButtonBase-root {
        padding: 8px;
      }
      .MuiTypography-root {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #474848;
      }
    }
    .MuiTypography-subtitle1 {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #474848;
    }
  }
  .businessInfo_stampMeasure {
    display: flex;
    align-items: center;
    margin-top: 20px;
    .MuiTypography-subtitle1 {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #474848;
    }
    img {
      padding-left: 5px;
    }
  }
  .businessInfo_stampMeasureSelect {
    width: 200px;
    .MuiSelect-select {
      font-family: "Poppins-Regular";
      font-weight: 700;
    }
    .MuiInputBase-root {
      width: 100%;
      background-color: #f6f6f6;
    }
  }

  .businessInfo_details {
    margin-top: 25px;
    .MuiTypography-subtitle {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 10px;
      color: #474848;
    }

    img {
      height: 16px;
      margin-top: 10px;
    }
  }
  .businessInfo_table {
    border: 1px solid #e7ebf0;
    border-radius: 3px;
    margin-top: 20px;

    .grid {
      .MuiDataGrid-root {
        border: none;
        height: 200px;
        .MuiDataGrid-footerContainer {
          border: none;
          display: block;
        }
        .MuiDataGrid-main {
          .MuiDataGrid-virtualScroller {
            width: 800px;
            // height: 12px;
            // min-height: 100%;
            // background-color: #474848;
          }
          .MuiDataGrid-columnHeaders {
            min-height: 56px;
            max-height: 6px;
            line-height: 56px;
            background: #f9f9f9;

            .MuiDataGrid-columnHeadersInner {
              .MuiDataGrid-columnHeader {
                height: 56px;
                width: 73px;
                min-width: 57px;
                min-width: 52px;
                max-width: 56px;

                .MuiDataGrid-columnHeaderDraggableContainer {
                  width: 0px;
                  .MuiDataGrid-columnHeaderTitleContainer {
                    .MuiDataGrid-columnHeaderTitleContainerContent {
                      .MuiDataGrid-columnHeaderTitle {
                        font-family: "Poppins-Regular";

                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;

                        color: #474848;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .MuiTable-root {
        .MuiTableBody-root {
          .MuiTableRow-root {
            .MuiTableCell-root {
              font-family: "Poppins", sans-serif;
              font-weight: 500;
              font-size: 14px;
              color: #474848;
            }
          }
        }
        .MuiTableHead-root {
          .MuiTableRow-root {
            .MuiTableCell-root {
              font-family: "Poppins", sans-serif;
              font-weight: 700;
              font-size: 14px;
              color: #474848;
            }
          }
        }
      }
    }
    .businessInfo_tablePrice {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 25px 40px;
      .MuiTypography-subtitle1 {
        margin-left: 50px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #474848;
      }
    }
  }
}

.MuiDataGrid-columnSeparator {
  visibility: "hidden" !important;
  display: none !important;
}

// .MuiDataGrid-columnHeaderTitle {
//   font-family: "Poppins-Regular";

//   font-style: normal;
//   font-weight: bold;
//   font-size: 16px;

//   color: #474848;
// }
