.recentQuotes_container {
  width: 100%;
  margin-top: 36px;
  p {
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    // padding-bottom: 22px;
    color: #474848;
  }
}
