.products_container {
  width: 100%;
  .products_header {
    display: flex;
    flex-direction: row;
    padding: 12px 25px;
    .MuiTypography-h6 {
      padding-left: 15px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #474848;
    }
  }
  .products_heading {
    display: flex;
    align-items: center;
    padding: 2px 25px;
    margin-top: 22px;

    .MuiTypography-h6 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #474848;
    }
    img {
      height: 16px;
      margin-left: 6px;
    }
  }
  .productCard_container {
    margin-left: 16px;
    display: flex;
    gap: 6px;
    .MuiPaper-root {
      border: none;
      // width: 33.3%;
      border-radius: 6px;
      .MuiCardContent-root {
        border: none;
        padding: 0px;
        height: 64px;
        display: flex;
        cursor: pointer;

        // flex-direction: row;
        .productCard_imageAndButton {
          display: flex;
          justify-content: space-between;
          height: 65px;

          .MuiButtonBase-root {
            border-radius: 15px;
            height: 25px;
            border: 1px solid #474848;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 12px;
            text-transform: none;
            color: #474848;
            margin-right: 15px;
            margin-top: 12px;
          }
        }
        .productCard_info {
          display: flex;
          align-items: center;
          padding-left: 10px;
          padding-right: 1px;

          .MuiTypography-h4 {
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-size: 15px;
            color: #474848;
          }
          img {
            height: 20px;
          }
        }
        .productCard_bottom {
          margin-bottom: 10px;
          margin-left: 20px;
          .MuiTypography-root {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: #474848;
          }
        }
      }
    }
  }
  .moreProducts_heading {
    display: flex;
    align-items: center;
    padding: 2px 25px;
    margin-top: 46px;

    .MuiTypography-h6 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #474848;
    }
    img {
      height: 16px;
      margin-left: 6px;
    }
  }
  .moreProductCard_container {
    // padding: 0 25px;
    display: flex;
    gap: 6px;
    margin-left: 16px;

    .MuiPaper-root {
      // width: 225px;
      border-radius: 6px;
      // width: 33.3%;
      .MuiCardContent-root {
        padding: 0px;
        border: none;
        display: flex;
        height: 64px;
        cursor: pointer;
        .moreProductCard_imageAndButton {
          display: flex;
          justify-content: space-between;
          height: 65px;

          .MuiButtonBase-root {
            border-radius: 15px;
            height: 25px;
            border: 1px solid #474848;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 12px;
            text-transform: none;
            color: #474848;
            margin-right: 15px;
            margin-top: 12px;
          }
        }
        .moreProductCard_info {
          display: flex;
          align-items: center;
          padding-left: 10px;
          padding-right: 1px;

          .MuiTypography-h4 {
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-size: 15px;
            color: #474848;
            margin-right: 2px;
          }
          img {
            height: 20px;
          }
        }
        .moreProductCard_bottom {
          // margin-top: 15px;
          margin-bottom: 10px;
          margin-left: 20px;
          color: white;
          .MuiTypography-root {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: #474848;
          }
        }
      }
    }
  }
  // @include customRange(768, 826) {
  //   .productCard_info {
  //     margin-top: 0;
  //   }
  // }
  @include customRange(768, 1080) {
    .productCard_imageAndButton {
      height: auto !important;
    }
    .moreProductCard_imageAndButton {
      height: auto !important;
    }
    .productCard_info {
      margin-top: 0;
    }
  }
  // @include customRange(769, 1080) {
  //   .productCard_imageAndButton {
  //     border: 1px solid red;
  //     height: none;
  //   }
  // }
}
